.calculator {
    border: 1px solid black;
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 450px;
}

.input-field {
    width: 98.5%;
    font-size: 4rem;
    height: 80px;
    border: none;
    background-color: rgb(17, 17, 17);
    color: white;
    text-align: right;
    padding-left: 2px;
    padding-right: 5px;
}

button {
    height: 50px;
    background-color: white;
    border-radius: 2px;
    border: 1px solid rgb(107, 106, 106);
    font-size: 2rem;
    color: rgb(32, 30, 30);
    text-shadow: 0 1px rgb(230, 229, 229);
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding: 15px;
}

button:hover {
    background-color: rgb(175, 175, 175);
}

.operator {
    color: rgb(66, 66, 219);
}

.equal-sign {
    background-color: rgb(175, 175, 245);
    border-color: rgb(77, 77, 241);
    color: white;
    height: 100%;
    grid-area: 2 / 4 / 6 / 5;
}
